<a href="https://colab.research.google.com/github/dataforgoodfr/batch8_mednum/blob/master/notebooks/acces_information.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Liste des médiathèques

In [ ]:
# get mediatheques map

In [ ]:
from google.colab import drive
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

In [ ]:
ls drive/'My Drive'/'Colab Notebooks'/

carte-des-bibliotheques.csv  correspondances-code-insee-code-postal.csv
carte_mediatheque.ipynb

In [ ]:
cd drive/'My Drive'/'Colab Notebooks'/

/content/drive/My Drive/Colab Notebooks

In [ ]:
import pandas as pd

df = pd.read_csv('carte-des-bibliotheques.csv', header=0, sep=';')
print(df.shape)
df.head()

(844, 21)

                  Nom structure  ...                 wgs84
0  MÉDIATHÈQUE SAINT-JOHN PERSE  ...   48.9104747,2.385008
1     MÉDIATHÈQUE GEORGES PÉREC  ...  48.6293899,2.4135832
2         MÉDIATHÈQUE LES MUSES  ...  48.6305113,2.2650636
3        MÉDIATHÈQUE MUNICIPALE  ...  48.5657217,2.0601725
4       BIBLIOTHÈQUE LE GRENIER  ...  48.6891076,2.5297452

[5 rows x 21 columns]

In [ ]:
df = df[['Code postal', 'Ville', 'Département']]
df['Code postal'] = df['Code postal'].astype(str)
df.head()

  Code postal                 Ville  Département
0       93300         AUBERVILLIERS           93
1       91080         COURCOURONNES           91
2       91310                 LINAS           91
3       91530  LE-VAL-SAINT-GERMAIN           91
4       91800  BOUSSY-SAINT-ANTOINE           91

In [ ]:
# mapping code postal - code INSEE
mapping = pd.read_csv('correspondances-code-insee-code-postal.csv', header=0, sep=';')
mapping.rename(columns={'Code Postal': 'Code postal'}, inplace=True)
mapping.head()

   Code INSEE Code postal  ... Code Département Code Région
0       91645       91370  ...               91          11
1       77133       77126  ...               77          11
2       91378       91730  ...               91          11
3       77243       77400  ...               77          11
4       94003       94110  ...               94          11

[5 rows x 17 columns]

In [ ]:
mapping.drop_duplicates(inplace=True)

In [ ]:
df.merge(mapping[['Code INSEE', 'Code postal']], how='inner', on='Code postal').drop_duplicates()

     Code postal                Ville  Département  Code INSEE
0          93300        AUBERVILLIERS           93       93001
4          91080        COURCOURONNES           91       91182
5          91310                LINAS           91       91333
6          91310                LINAS           91       91425
7          91310                LINAS           91       91339
...          ...                  ...          ...         ...
2722       77440  ARMENTIÈRES-EN-BRIE           77       77490
2723       77440  ARMENTIÈRES-EN-BRIE           77       77231
2724       77440  ARMENTIÈRES-EN-BRIE           77       77235
2725       77200                TORCY           77       77468
2726       78970   MÉZIÈRES-SUR-SEINE           78       78402

[2473 rows x 4 columns]

In [ ]:
df.groupby('Code postal').count().sort_values(by='Ville')[::-1]

             Ville  Département
Code postal
78000            9            9
77400            7            7
77130            7            7
78490            6            6
95000            6            6
...            ...          ...
92104            1            1
92110            1            1
92120            1            1
92130            1            1
91320            1            1

[461 rows x 2 columns]

## 2. Liste des centres sociaux

In [ ]:
import json
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from urllib import request

import time


def timeit(method):
    def timed(*args, **kw):
        ts = time.time()
        result = method(*args, **kw)
        te = time.time()        
        if 'log_time' in kw:
            name = kw.get('log_name', method.__name__.upper())
            kw['log_time'][name] = int((te - ts) * 1000)
        else:
            print('%r  %2.2f ms' % \
                  (method.__name__, (te - ts) * 1000))
        return result    
    return timed

In [ ]:
@timeit
def scrap_table_page(url='https://www.senacs.fr/structure/csx?page=', page_number=1):
    """
    Generate a request on senacs page for a given 
    page number to get the name and location of 
    each social center.
    """

    url_page = url + str(page_number)
    request_text = request.urlopen(url_page).read()
    page = BeautifulSoup(request_text, 'html.parser')

    table = page.find('table', {'class': 'table table-striped table-hover'}).findAll('td')

    # fill the values of id, name and city
    ids = [id.getText() for id in table[::4]]
    names = [name.getText() for name in table[1::4]]
    cities = [city.getText() for city in table[2::4]]

    df = pd.DataFrame({'id': ids, 
                      'nom': names,
                      'ville': cities}
                      )
    df['page'] = page_number

    return df


def stack_pages(pages=range(91)):
    """
    Concatenate all empruntis scrapped data per region.
    """

    data = pd.DataFrame()    # empty Dataframe to fill
    for page_number in pages:
        temp = scrap_table_page(page_number=page_number)
        data = pd.concat([data, temp], axis=0)

    return data

In [ ]:
data = stack_pages()

In [ ]:
data['code_postal'] = data['ville'].apply(lambda x: x.split('-')[0])
data['ville'] = data['ville'].apply(lambda x: x.split('-')[1])

In [ ]:
data

       id                                                nom  ... page  code_postal
0      91                   CENTRE SOCIAL DES GRANDES BORNES  ...    0       95190
1      92                           CENTRE SOCIAL ARCHIPELIA  ...    0       75020
2      93               Espace Socioculturel Val de Charente  ...    0       16700
3      94       CENTRE SOCIAL Maison Des Habitants Champaret  ...    0       38300
4      95                  CENTRE SOCIAL MAISON DE LA CHALLE  ...    0       95610
..    ...                                                ...  ...  ...          ...
6   16264     CENTRE SOCIOCULTUREL MUNICIPAL DE SAINT-DIZIER  ...   90       52100
7   16267                ESPACE DE VIE SOCIALE L.E.P.H.A.R.E  ...   90       59580
8   16351                    ASSOCIATION  FERME BEAUREPAIRE   ...   90       62200
9   16355                              OFFICE DE LA JEUNESSE  ...   90       62700
10  16359  CENTRE SOCIAL MUNICIPAL ECLATE MONTIGNY EN GOH...  ...   90       62640

[2261 rows x 5 columns]

## 3. Distance des communes à l'accès le plus proche

In [ ]:
# copy geoson file with every 'Franceservices' locations

import os

if 'COLAB_GPU' in os.environ:  # this is always set on Colab, the value is 0 or 1 depending on whether a GPU is attached
    from google.colab import auth
    auth.authenticate_user()

    !git clone https://github.com/cget-carto/France-services.git
    !mv France-services/data/france_services.geojson .

Cloning into 'France-services'...
remote: Enumerating objects: 260, done.
remote: Counting objects: 100% (260/260), done.
remote: Compressing objects: 100% (169/169), done.
remote: Total 260 (delta 108), reused 221 (delta 78), pack-reused 0
Receiving objects: 100% (260/260), 2.12 MiB | 14.58 MiB/s, done.
Resolving deltas: 100% (108/108), done.

In [ ]:
ls

adc.json  France-services/  france_services.geojson  sample_data/

In [ ]:
import pandas as pd
import json

with open("france_services.geojson", "r") as read_file: 
    fs = json.load(read_file)

In [ ]:
data = pd.DataFrame()
for n, temp in enumerate(fs['features']): 
 
    df_temp = pd.DataFrame.from_records([{'latitude': temp['properties']['LATITUDE'], 
                            'longitude': temp['properties']['LATITUDE'], 
                            'departement': temp['properties']['DEPARTEMENT'],
                            'insee_com': temp['properties']['insee_com'],
                            'code_postal': temp['properties']['code_postal'], 
                            'lib_france_services': temp['properties']['lib_france_services']
                            }])
    
    data = pd.concat([data, df_temp], axis=0)

In [ ]:
data

     latitude  longitude  ... code_postal                lib_france_services
0   46.105747  46.105747  ...       01200                         Valserhône
0   44.031548  44.031548  ...       12170            Réquista « Le Bercail »
0   44.475185  44.475185  ...       12330                  Conques-Marcillac
0   49.291400  49.291400  ...       14130                       Terre d’Auge
0   49.126169  49.126169  ...       14370                       Val ès Dunes
..        ...        ...  ...         ...                                ...
0   47.617932  47.617932  ...       89520           Saint-Sauveur-en-Puisaye
0   48.980007  48.980007  ...       95120                             Ermont
0   47.181000  47.181000  ...       25410                          Saint Vit
0   43.208769  43.208769  ...       31310    Volvestre – Antenne Montesquieu
0   43.328157  43.328157  ...       31410  Volvestre – Antenne Saint Sulpice

[908 rows x 6 columns]

In [ ]:
!pip install pgeocode

Collecting pgeocode
  Downloading https://files.pythonhosted.org/packages/86/44/519e3db3db84acdeb29e24f2e65991960f13464279b61bde5e9e96909c9d/pgeocode-0.2.1-py2.py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from pgeocode) (2.23.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from pgeocode) (1.18.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pgeocode) (1.1.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->pgeocode) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->pgeocode) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->pgeocode) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->pgeocode) (2020.6.20)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->pgeocode) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->pgeocode) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->pgeocode) (1.15.0)
Installing collected packages: pgeocode
Successfully installed pgeocode-0.2.1

### Calculer la distance entre le centre des communes et la prefecture, sous-prefecture ou france-services la plus proche en km. 

- scrapper prefecture / sous-prefecture https://fr.wikipedia.org/wiki/Liste_des_pr%C3%A9fectures_de_France
- obtenir coordonnées des communes: OK via codes postaux + librairie `pgecode`

In [ ]:
import pgeocode
dist = pgeocode.GeoDistance('fr')

!git clone https://github.com/dataforgoodfr/batch8_mednum.git
!mv batch8_mednum/data/table_iris_insee_epci.csv .
!ls

Cloning into 'batch8_mednum'...
remote: Enumerating objects: 53, done.
remote: Counting objects: 100% (53/53), done.
remote: Compressing objects: 100% (49/49), done.
remote: Total 53 (delta 19), reused 8 (delta 0), pack-reused 0
Unpacking objects: 100% (53/53), done.
adc.json       France-services		sample_data
batch8_mednum  france_services.geojson	table_iris_insee_epci.csv

In [ ]:
#data['distance'] = dist.query_postal_code(data[''].values, data[''].values)

In [ ]:
commune = pd.read_csv('table_iris_insee_epci.csv')
commune

       Unnamed: 0  CODE_IRIS TYP_IRIS CODE_INSEE  ... GRD_QUART UU2010 REG  DEP
0               0  010010000        Z      01001  ...   0100100  01000  84   01
1               1  010020000        Z      01002  ...   0100200  01000  84   01
2               2  010040101        H      01004  ...   0100401  01302  84   01
3               3  010040102        H      01004  ...   0100401  01302  84   01
4               4  010040201        H      01004  ...   0100402  01302  84   01
...           ...        ...      ...        ...  ...       ...    ...  ..  ...
49418       49418  976170301        H      97617  ...   9761703  9F209   6  976
49419       49419  976170302        H      97617  ...   9761703  9F209   6  976
49420       49420  976170303        D      97617  ...   9761703  9F209   6  976
49421       49421  976170304        D      97617  ...   9761703  9F209   6  976
49422       49422  976170400        H      97617  ...   9761704  9F209   6  976

[49423 rows x 12 columns]

In [ ]:
# calculer le france-service (ou prefecture, sous-prefecture etc.) le plus proche de chaque commune et bueno

## 4. Part des moins de 25 ans

In [ ]:
from google.colab import drive
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

In [ ]:
demo = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data_DEMO_2020_V1_COM.csv', sep=';')
demo[['CODGEO', 'POP_MUN', 'TX_TOT_0A24']]

    CODGEO  POP_MUN TX_TOT_0A24
0    01004    14359        32,5
1    01031     3646        32,1
2    01034     8909        29,5
3    01053    40490        31,3
4    01160     9236        29,1
..     ...      ...         ...
786  97415   104332        35,4
787  97416    81415        37,3
788  97418    32605        37,5
789  97420    22209        39,7
790  97422    76090        37,7

[791 rows x 3 columns]