<a href="https://colab.research.google.com/github/dataforgoodfr/batch8_mednum/blob/master/notebooks/acces_information.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Liste des médiathèques

In [ ]:
# get mediatheques map

In [8]:
from google.colab import drive
drive.mount("/content/drive", force_remount=True)

KeyboardInterrupt: ignored

In [ ]:
ls drive/'My Drive'/'Colab Notebooks'/

carte-des-bibliotheques.csv                 mediatheque.ipynb
correspondances-code-insee-code-postal.csv

In [ ]:
cd drive/'My Drive'/'Colab Notebooks'/

/content/drive/My Drive/Colab Notebooks

In [ ]:
import pandas as pd

df = pd.read_csv('carte-des-bibliotheques.csv', header=0, sep=';')
print(df.shape)
df.head()

(844, 21)

                  Nom structure  ...                 wgs84
0  MÉDIATHÈQUE SAINT-JOHN PERSE  ...   48.9104747,2.385008
1     MÉDIATHÈQUE GEORGES PÉREC  ...  48.6293899,2.4135832
2         MÉDIATHÈQUE LES MUSES  ...  48.6305113,2.2650636
3        MÉDIATHÈQUE MUNICIPALE  ...  48.5657217,2.0601725
4       BIBLIOTHÈQUE LE GRENIER  ...  48.6891076,2.5297452

[5 rows x 21 columns]

In [ ]:
df = df[['Code postal', 'Ville', 'Département']]
df['Code postal'] = df['Code postal'].astype(str)
df.head()

  Code postal                 Ville  Département
0       93300         AUBERVILLIERS           93
1       91080         COURCOURONNES           91
2       91310                 LINAS           91
3       91530  LE-VAL-SAINT-GERMAIN           91
4       91800  BOUSSY-SAINT-ANTOINE           91

In [ ]:
# mapping code postal - code INSEE
mapping = pd.read_csv('correspondances-code-insee-code-postal.csv', header=0, sep=';')
mapping.rename(columns={'Code Postal': 'Code postal'}, inplace=True)
mapping.head()

   Code INSEE Code postal  ... Code Département Code Région
0       91645       91370  ...               91          11
1       77133       77126  ...               77          11
2       91378       91730  ...               91          11
3       77243       77400  ...               77          11
4       94003       94110  ...               94          11

[5 rows x 17 columns]

In [ ]:
mapping.drop_duplicates(inplace=True)

In [ ]:
df.merge(mapping[['Code INSEE', 'Code postal']], how='inner', on='Code postal').drop_duplicates()

     Code postal                Ville  Département  Code INSEE
0          93300        AUBERVILLIERS           93       93001
4          91080        COURCOURONNES           91       91182
5          91310                LINAS           91       91333
6          91310                LINAS           91       91425
7          91310                LINAS           91       91339
...          ...                  ...          ...         ...
2722       77440  ARMENTIÈRES-EN-BRIE           77       77490
2723       77440  ARMENTIÈRES-EN-BRIE           77       77231
2724       77440  ARMENTIÈRES-EN-BRIE           77       77235
2725       77200                TORCY           77       77468
2726       78970   MÉZIÈRES-SUR-SEINE           78       78402

[2473 rows x 4 columns]

In [ ]:
df.groupby('Code postal').count().sort_values(by='Ville')[::-1]

             Ville  Département
Code postal
78000            9            9
77400            7            7
77130            7            7
78490            6            6
95000            6            6
...            ...          ...
92104            1            1
92110            1            1
92120            1            1
92130            1            1
91320            1            1

[461 rows x 2 columns]

## 2. Liste des centres sociaux

In [ ]:
import json
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from urllib import request

import time


def timeit(method):
    def timed(*args, **kw):
        ts = time.time()
        result = method(*args, **kw)
        te = time.time()        
        if 'log_time' in kw:
            name = kw.get('log_name', method.__name__.upper())
            kw['log_time'][name] = int((te - ts) * 1000)
        else:
            print('%r  %2.2f ms' % \
                  (method.__name__, (te - ts) * 1000))
        return result    
    return timed

In [ ]:
@timeit
def scrap_table_page(url='https://www.senacs.fr/structure/csx?page=', page_number=1):
    """
    Generate a request on senacs page for a given 
    page number to get the name and location of 
    each social center.
    """

    url_page = url + str(page_number)
    request_text = request.urlopen(url_page).read()
    page = BeautifulSoup(request_text, 'html.parser')

    table = page.find('table', {'class': 'table table-striped table-hover'}).findAll('td')

    # fill the values of id, name and city
    ids = [id.getText() for id in table[::4]]
    names = [name.getText() for name in table[1::4]]
    cities = [city.getText() for city in table[2::4]]

    df = pd.DataFrame({'id': ids, 
                      'nom': names,
                      'ville': cities}
                      )
    df['page'] = page_number

    return df


def stack_pages(pages=range(91)):
    """
    Concatenate all empruntis scrapped data per region.
    """

    data = pd.DataFrame()    # empty Dataframe to fill
    for page_number in pages:
        temp = scrap_table_page(page_number=page_number)
        data = pd.concat([data, temp], axis=0)

    return data

In [ ]:
data = stack_pages()

'scrap_table_page'  1572.90 ms
'scrap_table_page'  1535.71 ms
'scrap_table_page'  1524.97 ms
'scrap_table_page'  1316.28 ms
'scrap_table_page'  1637.86 ms
'scrap_table_page'  1533.04 ms
'scrap_table_page'  1658.94 ms
'scrap_table_page'  1418.34 ms
'scrap_table_page'  1532.59 ms
'scrap_table_page'  1648.83 ms
'scrap_table_page'  1521.68 ms
'scrap_table_page'  1509.88 ms
'scrap_table_page'  1520.30 ms
'scrap_table_page'  1522.77 ms
'scrap_table_page'  1635.41 ms
'scrap_table_page'  1741.23 ms
'scrap_table_page'  1526.60 ms
'scrap_table_page'  1534.42 ms
'scrap_table_page'  1582.13 ms
'scrap_table_page'  1580.35 ms
'scrap_table_page'  1549.89 ms
'scrap_table_page'  1549.43 ms
'scrap_table_page'  2056.45 ms
'scrap_table_page'  1560.31 ms
'scrap_table_page'  1546.62 ms
'scrap_table_page'  1431.70 ms
'scrap_table_page'  1444.02 ms
'scrap_table_page'  2984.81 ms
'scrap_table_page'  1552.47 ms
'scrap_table_page'  1640.76 ms
'scrap_table_page'  1431.88 ms
'scrap_table_page'  1445.58 ms
'scrap_table_page'  1446.47 ms
'scrap_table_page'  1436.86 ms
'scrap_table_page'  1779.96 ms
'scrap_table_page'  1417.68 ms
'scrap_table_page'  1446.74 ms
'scrap_table_page'  1642.50 ms
'scrap_table_page'  1432.27 ms
'scrap_table_page'  1538.18 ms
'scrap_table_page'  1622.83 ms
'scrap_table_page'  1429.12 ms
'scrap_table_page'  1554.65 ms
'scrap_table_page'  1548.38 ms
'scrap_table_page'  1463.71 ms
'scrap_table_page'  1648.17 ms
'scrap_table_page'  1535.85 ms
'scrap_table_page'  1530.16 ms
'scrap_table_page'  1659.53 ms
'scrap_table_page'  1656.78 ms
'scrap_table_page'  1446.95 ms
'scrap_table_page'  1429.14 ms
'scrap_table_page'  1540.13 ms
'scrap_table_page'  1475.07 ms
'scrap_table_page'  1592.69 ms
'scrap_table_page'  1532.17 ms
'scrap_table_page'  1446.11 ms
'scrap_table_page'  1532.82 ms
'scrap_table_page'  1328.61 ms
'scrap_table_page'  1673.66 ms
'scrap_table_page'  1547.26 ms
'scrap_table_page'  1534.76 ms
'scrap_table_page'  1437.11 ms
'scrap_table_page'  1426.14 ms
'scrap_table_page'  1535.46 ms
'scrap_table_page'  1649.53 ms
'scrap_table_page'  1534.89 ms
'scrap_table_page'  1645.72 ms
'scrap_table_page'  1645.41 ms
'scrap_table_page'  1765.92 ms
'scrap_table_page'  1572.73 ms
'scrap_table_page'  1527.22 ms
'scrap_table_page'  1431.37 ms
'scrap_table_page'  1565.17 ms
'scrap_table_page'  1455.76 ms
'scrap_table_page'  1537.89 ms
'scrap_table_page'  1555.59 ms
'scrap_table_page'  1542.41 ms
'scrap_table_page'  1670.42 ms
'scrap_table_page'  1446.31 ms
'scrap_table_page'  1542.12 ms
'scrap_table_page'  1528.05 ms
'scrap_table_page'  1440.81 ms
'scrap_table_page'  1650.39 ms
'scrap_table_page'  1570.39 ms
'scrap_table_page'  1544.41 ms
'scrap_table_page'  1432.19 ms
'scrap_table_page'  1525.93 ms
'scrap_table_page'  1423.25 ms
'scrap_table_page'  1411.31 ms
'scrap_table_page'  1037.12 ms

In [ ]:
data['code_postal'] = data['ville'].apply(lambda x: x.split('-')[0])
data['ville'] = data['ville'].apply(lambda x: x.split('-')[1])

In [ ]:
data

       id                                                nom  ... page  code_postal
0      91                   CENTRE SOCIAL DES GRANDES BORNES  ...    0       95190
1      92                           CENTRE SOCIAL ARCHIPELIA  ...    0       75020
2      93               Espace Socioculturel Val de Charente  ...    0       16700
3      94       CENTRE SOCIAL Maison Des Habitants Champaret  ...    0       38300
4      95                  CENTRE SOCIAL MAISON DE LA CHALLE  ...    0       95610
..    ...                                                ...  ...  ...          ...
6   16264     CENTRE SOCIOCULTUREL MUNICIPAL DE SAINT-DIZIER  ...   90       52100
7   16267                ESPACE DE VIE SOCIALE L.E.P.H.A.R.E  ...   90       59580
8   16351                    ASSOCIATION  FERME BEAUREPAIRE   ...   90       62200
9   16355                              OFFICE DE LA JEUNESSE  ...   90       62700
10  16359  CENTRE SOCIAL MUNICIPAL ECLATE MONTIGNY EN GOH...  ...   90       62640

[2261 rows x 5 columns]

## 3. Distance des communes à l'accès le plus proche

In [3]:
# copy geoson file with every 'Franceservices' locations

import os

if 'COLAB_GPU' in os.environ:  # this is always set on Colab, the value is 0 or 1 depending on whether a GPU is attached
    from google.colab import auth
    auth.authenticate_user()

    !git clone https://github.com/cget-carto/France-services.git
    !mv France-services/data/france_services.geojson .

Cloning into 'France-services'...
remote: Enumerating objects: 260, done.
remote: Counting objects: 100% (260/260), done.
remote: Compressing objects: 100% (169/169), done.
remote: Total 260 (delta 108), reused 221 (delta 78), pack-reused 0
Receiving objects: 100% (260/260), 2.12 MiB | 16.46 MiB/s, done.
Resolving deltas: 100% (108/108), done.

In [6]:
ls

adc.json  France-services/  france_services.geojson  sample_data/

In [ ]:
import pandas as pd

fs = pd.read_json('france_services.geojson')

In [15]:
pd.read_json?

In [14]:
fs

    0
0   f
1   r
2   a
3   n
4   c
5   e
6   _
7   s
8   e
9   r
10  v
11  i
12  c
13  e
14  s
15  .
16  g
17  e
18  o
19  j
20  s
21  o
22  n