In [1]:
import pandas as pd
import numpy as np
import mednum as mdn
from mednum.config import *

In [2]:
data = pd.read_csv(data_path / 'data_merge.csv')
data.head()

,Unnamed: 0,CODE_INSEE,TX_POVERTY,TX_NSCOL15P,TX_MENSEUL,TX_FAMMONO,TX_65ETPLUS,TX_25ETMOINS,TX_DEMANDEUR_EMPLOIS,COUVERTURE_HD_THD
0,0,2A001,NaN,47.724584,22.350501,9.322385,21.662567,10.902031,NaN,1.0
1,1,2A004,27.441333,47.006382,26.648289,14.049949,26.619498,11.425760,13.062663,1.0
2,2,2A006,17.826087,45.656990,20.245461,9.324807,21.224153,10.888846,NaN,1.0
3,3,2A008,NaN,41.227734,33.376123,9.627728,36.385084,6.076146,NaN,1.0
4,4,2A011,NaN,47.727273,48.148148,3.703704,40.909091,11.363636,NaN,1.0

In [3]:
data.shape

(36393, 10)

In [4]:
data = data.drop(columns='Unnamed: 0')

In [5]:
df = pd.read_csv(data_path / 'table_iris_insee_epci.csv')

In [6]:
df = df[['CODE_INSEE', 'LIBCOM', 'DEP']]
df = df.drop_duplicates()
#df = df.groupby(['CODE_INSEE', 'DEP', 'LIBCOM'])
df.head()

  CODE_INSEE                   LIBCOM DEP
0      01001  L'Abergement-Clémenciat  01
1      01002    L'Abergement-de-Varey  01
2      01004        Ambérieu-en-Bugey  01
6      01005      Ambérieux-en-Dombes  01
7      01006                  Ambléon  01

In [7]:
data = pd.merge(data, df, left_on='CODE_INSEE', right_on='CODE_INSEE', how='outer')
data = data[['CODE_INSEE', 'DEP', 'LIBCOM', 'TX_POVERTY', 'TX_NSCOL15P', 'TX_MENSEUL', 'TX_FAMMONO', 'TX_65ETPLUS', 'TX_25ETMOINS', 'TX_DEMANDEUR_EMPLOIS', 'COUVERTURE_HD_THD']]
data.head()

,CODE_INSEE,DEP,LIBCOM,TX_POVERTY,TX_NSCOL15P,TX_MENSEUL,TX_FAMMONO,TX_65ETPLUS,TX_25ETMOINS,TX_DEMANDEUR_EMPLOIS,COUVERTURE_HD_THD
0,2A001,2A,Afa,NaN,47.724584,22.350501,9.322385,21.662567,10.902031,NaN,1.0
1,2A004,2A,Ajaccio,27.441333,47.006382,26.648289,14.049949,26.619498,11.425760,13.062663,1.0
2,2A006,2A,Alata,17.826087,45.656990,20.245461,9.324807,21.224153,10.888846,NaN,1.0
3,2A008,2A,Albitreccia,NaN,41.227734,33.376123,9.627728,36.385084,6.076146,NaN,1.0
4,2A011,2A,Altagène,NaN,47.727273,48.148148,3.703704,40.909091,11.363636,NaN,1.0

In [8]:
data.shape

(36393, 11)

In [9]:
data['TX_BENEF_MINIMAS_SOC'] = 1
data.head()

,CODE_INSEE,DEP,LIBCOM,TX_POVERTY,TX_NSCOL15P,TX_MENSEUL,TX_FAMMONO,TX_65ETPLUS,TX_25ETMOINS,TX_DEMANDEUR_EMPLOIS,COUVERTURE_HD_THD,TX_BENEF_MINIMAS_SOC
0,2A001,2A,Afa,NaN,47.724584,22.350501,9.322385,21.662567,10.902031,NaN,1.0,1
1,2A004,2A,Ajaccio,27.441333,47.006382,26.648289,14.049949,26.619498,11.425760,13.062663,1.0,1
2,2A006,2A,Alata,17.826087,45.656990,20.245461,9.324807,21.224153,10.888846,NaN,1.0,1
3,2A008,2A,Albitreccia,NaN,41.227734,33.376123,9.627728,36.385084,6.076146,NaN,1.0,1
4,2A011,2A,Altagène,NaN,47.727273,48.148148,3.703704,40.909091,11.363636,NaN,1.0,1

In [10]:
data.shape

(36393, 12)

In [11]:
print('Valeurs manquantes :\n', data.isna().sum())
print('\nValeurs dupliquées : ', data.duplicated().sum())

Valeurs manquantes :
 CODE_INSEE                  0
DEP                       275
LIBCOM                    275
TX_POVERTY              29703
TX_NSCOL15P              1400
TX_MENSEUL               1407
TX_FAMMONO               1407
TX_65ETPLUS              1400
TX_25ETMOINS             1400
TX_DEMANDEUR_EMPLOIS    36321
COUVERTURE_HD_THD           0
TX_BENEF_MINIMAS_SOC        0
dtype: int64

Valeurs dupliquées :  0

In [13]:
data.to_csv(interim_data / 'data_merge_V2.csv')