## Merge toute les données intérim (variables des 4 piliers)

In [18]:
import pandas as pd
import numpy as np
from pathlib import Path
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

external_data = Path('../data/external/')
processed_data = Path('../data/processed/')
raw_data = Path('../data/raw/')
interim_data = Path('../data/interim/')

In [10]:
!ls -lh ../data/interim/

total 9,6M
-rw-rw-r-- 1 outini outini 822K nov.  26 20:38 acces_point_phys_service_publique.csv
-rw-rw-r-- 1 outini outini  23K nov.  22 22:54 data_merge_V2.ipynb
-rw-rw-r-- 1 outini outini 4,0M nov.  22 22:54 data_scol_menage_demandeurEmplois.csv
-rw-rw-r-- 1 outini outini  79K nov.  22 22:54 IFN_var_scol_menage_demandeEmplois.ipynb
-rw-rw-r-- 1 outini outini 837K nov.  26 23:58 taux_couverture_mobile.csv
-rw-rw-r-- 1 outini outini 825K nov.  25 18:26 taux_couverture_THD.csv
-rw-rw-r-- 1 outini outini 833K nov.  25 18:26 taux_demandeurs_emploi.csv
-rw-rw-r-- 1 outini outini 1,3M nov.  25 18:26 taux_pauvrete.csv
-rw-rw-r-- 1 outini outini 999K nov.  25 18:26 variable_minimas_V2.csv

In [39]:
df1 = pd.read_csv(interim_data/'acces_point_phys_service_publique.csv')
df2 = pd.read_csv(interim_data/'data_scol_menage_demandeurEmplois.csv')
df3 = pd.read_csv(interim_data/'taux_couverture_mobile.csv')
df4 = pd.read_csv(interim_data/'taux_couverture_THD.csv')
df5 = pd.read_csv(interim_data/'taux_demandeurs_emploi.csv')
df6 = pd.read_csv(interim_data/'taux_pauvrete.csv')
df7 = pd.read_csv(interim_data/'variable_minimas_V2.csv')

communes = pd.read_csv(raw_data/'table_insee_libcom_dep.csv').drop(columns=['Unnamed: 0'])

In [40]:
for data in [df1, df2, df3, df4, df5, df6, df7]:
    data = communes.merge(data, how='left', on='CODE_INSEE')     # obtenir meme base de 3 index : (CODE_INSEE, LIBCOM, DEP)

In [45]:
communes.merge(df1, how='left', on='CODE_INSEE')

      CODE_INSEE                 LIBCOM_x DEP_x                 LIBCOM_y DEP_y  ACCES_SERVICE_PUBLIC
0          01001  L'Abergement-Clémenciat    01  L'Abergement-Clémenciat    01                     0
1          01002    L'Abergement-de-Varey    01    L'Abergement-de-Varey    01                     0
2          01004        Ambérieu-en-Bugey    01        Ambérieu-en-Bugey    01                     0
3          01005      Ambérieux-en-Dombes    01      Ambérieux-en-Dombes    01                     1
4          01006                  Ambléon    01                  Ambléon    01                     0
...          ...                      ...   ...                      ...   ...                   ...
35008      97613            M'Tsangamouji   976            M'Tsangamouji   976                     0
35009      97614                 Ouangani   976                 Ouangani   976                     0
35010      97615                 Pamandzi   976                 Pamandzi   976                     1
35011      97616                     Sada   976                     Sada   976                     1
35012      97617                 Tsingoni   976                 Tsingoni   976                     1

[35013 rows x 6 columns]

In [36]:
df = df1.merge(df2, how='inner', on=['CODE_INSEE'])
df = df.merge(df3, how='inner', on=['CODE_INSEE'])
df = df.merge(df4, how='inner', on=['CODE_INSEE'])
df = df.merge(df5, how='inner', on=['CODE_INSEE'])
df = df.merge(df6, how='inner', on=['CODE_INSEE'])
df = df.merge(df7, how='inner', on=['CODE_INSEE'])

print(df.shape)

(36013, 26)

In [37]:
df

      CODE_INSEE                 LIBCOM_x DEP_x  ACCES_SERVICE_PUBLIC  Unnamed: 0_x                 LIBCOM_y DEP_y  TX_NSCOL15P  TX_MENSEUL  TX_FAMMONO  TX_65ETPLUS  TX_25ETMOINS  TX_DEMANDEURS_EMPLOI                 LIBCOM_x DEP_x  COUVERTURE_MOBILE DEP_y                 LIBCOM_y  TAUX_COUVERTURE_THD  TX_DEMANDEUR_EMPLOIS                 LIBCOM_x  TX_POVERTY  Unnamed: 0_y                 LIBCOM_y  DEP     TX_RSA
0          01001  L'Abergement-Clémenciat    01                     0             0  L'Abergement-Clémenciat    01    52.154281   22.823614    4.831504    23.779236     11.309305                   NaN  L'Abergement-Clémenciat    01                NaN    01  L'Abergement-Clémenciat                    1             18.909985  L'Abergement-Clémenciat   19.479505             0  L'Abergement-Clémenciat   01        NaN
1          01002    L'Abergement-de-Varey    01                     0             1    L'Abergement-de-Varey    01    40.425532   28.571429    4.761905    23.404255      7.978723                   NaN    L'Abergement-de-Varey    01                1.0    01    L'Abergement-de-Varey                    1             18.909985    L'Abergement-de-Varey   19.479505             1    L'Abergement-de-Varey   01        NaN
2          01004        Ambérieu-en-Bugey    01                     0             2        Ambérieu-en-Bugey    01    49.474587   41.515231   10.216084    20.733915     16.620013                   NaN        Ambérieu-en-Bugey    01                1.0    01        Ambérieu-en-Bugey                    1             21.754928        Ambérieu-en-Bugey   26.170897             2        Ambérieu-en-Bugey   01   2.593516
3          01004        Ambérieu-en-Bugey    01                     0             3        Ambérieu-en-Bugey    01          NaN         NaN         NaN          NaN           NaN                   NaN        Ambérieu-en-Bugey    01                1.0    01        Ambérieu-en-Bugey                    1             21.754928        Ambérieu-en-Bugey   26.170897             2        Ambérieu-en-Bugey   01   2.593516
4          01005      Ambérieux-en-Dombes    01                     1             4      Ambérieux-en-Dombes    01    53.574678   21.076206    6.601983    19.488442     13.854125                   NaN      Ambérieux-en-Dombes    01                1.0    01      Ambérieux-en-Dombes                    1             18.909985      Ambérieux-en-Dombes   19.479505             3      Ambérieux-en-Dombes   01        NaN
...          ...                      ...   ...                   ...           ...                      ...   ...          ...         ...         ...          ...           ...                   ...                      ...   ...                ...   ...                      ...                  ...                   ...                      ...         ...           ...                      ...  ...        ...
36008      97421                  Salazie   974                     1         36096                  Salazie   974    72.848452   24.609375   18.164063    15.833868     16.866584                   NaN                  Salazie   974                NaN   974                  Salazie                    1             38.966692                  Salazie   70.762311         34989                  Salazie  974        NaN
36009      97422                Le Tampon   974                     1         36097                Le Tampon   974    58.562862   29.011164   19.820389    15.690909     18.517982                   NaN                Le Tampon   974                NaN   974                Le Tampon                    1             44.650176                Le Tampon   54.107788         34990                Le Tampon  974  10.915820
36010      97422                Le Tampon   974                     1         36098                Le Tampon   974          NaN         NaN         NaN          NaN           NaN                   NaN                Le Tampon   974                NaN   974                Le Tampon                    1             44.650176                Le Tampon   54.107788         34990                Le Tampon  974  10.915820
36011      97423        Les Trois-Bassins   974                     1         36099        Les Trois-Bassins   974    66.360951   22.646409   21.716034    13.522387     18.343930                   NaN        Les Trois-Bassins   974                NaN   974        Les Trois-Bassins                    1             38.966692        Les Trois-Bassins   57.304643         34991        Les Trois-Bassins  974        NaN
36012      97424                   Cilaos   974                     1         36100                   Cilaos   974    77.013660   30.232558   18.604651    16.462553     15.426284                   NaN                   Cilaos   974                NaN   974                   Cilaos                    1             38.966692                   Cilaos   67.751142         34992                   Cilaos  974        NaN

[36013 rows x 26 columns]