In [1]:
import pandas as pd
from pathlib import Path
external_data = Path('../data/external/')
raw_data = Path('../data/raw/')

In [2]:
df= pd.read_csv(external_data/ "MERGE_data.csv")

# Version booléenne du dataframe

In [3]:
boolean_df = df.isna()

In [4]:
boolean_df = boolean_df.drop(["CODE_INSEE", "LIBCOM", "DEP"], axis=1)

In [5]:
# on renomme les colonnes pour simplifier la jointure
for col in boolean_df:
    boolean_df= boolean_df.rename(columns={col: str(col)+"_isNa"})
boolean_df

,ACCES_SERVICE_PUBLIC_isNa,TX_NSCOL15P_isNa,TX_MENSEUL_isNa,TX_FAMMONO_isNa,TX_65ETPLUS_isNa,TX_25ETMOINS_isNa,COUVERTURE_MOBILE_isNa,TAUX_COUVERTURE_THD_isNa,TX_DEMANDEUR_EMPLOIS_isNa,TX_POVERTY_isNa,TX_RSA_isNa
0,False,False,False,False,False,False,True,False,True,True,True
1,False,False,False,False,False,False,False,False,True,True,True
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,True,True
4,False,False,False,False,False,False,False,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...
35005,False,True,True,True,True,True,True,False,True,True,True
35006,False,True,True,True,True,True,True,False,True,True,True
35007,False,True,True,True,True,True,True,False,True,False,True
35008,False,True,True,True,True,True,True,False,True,False,True
35009,False,True,True,True,True,True,True,False,True,False,True

In [6]:
# merge via l'index avec le df d'origine
df_flag = pd.merge(df, boolean_df, left_index=True, right_index=True)

In [7]:
df_flag

,CODE_INSEE,LIBCOM,DEP,ACCES_SERVICE_PUBLIC,TX_NSCOL15P,TX_MENSEUL,TX_FAMMONO,TX_65ETPLUS,TX_25ETMOINS,COUVERTURE_MOBILE,...,TX_NSCOL15P_isNa,TX_MENSEUL_isNa,TX_FAMMONO_isNa,TX_65ETPLUS_isNa,TX_25ETMOINS_isNa,COUVERTURE_MOBILE_isNa,TAUX_COUVERTURE_THD_isNa,TX_DEMANDEUR_EMPLOIS_isNa,TX_POVERTY_isNa,TX_RSA_isNa
0,01001,L'Abergement-Clémenciat,01,0,52.154281,22.823614,4.831504,23.779236,11.309305,NaN,...,False,False,False,False,False,True,False,True,True,True
1,01002,L'Abergement-de-Varey,01,0,40.425532,28.571429,4.761905,23.404255,7.978723,1.00,...,False,False,False,False,False,False,False,True,True,True
2,01004,Ambérieu-en-Bugey,01,0,49.474587,41.515231,10.216084,20.733915,16.620013,1.00,...,False,False,False,False,False,False,False,False,False,False
3,01005,Ambérieux-en-Dombes,01,1,53.574678,21.076206,6.601983,19.488442,13.854125,1.00,...,False,False,False,False,False,False,False,True,True,True
4,01006,Ambléon,01,0,53.061224,36.363636,9.090909,26.530612,10.204082,0.65,...,False,False,False,False,False,False,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35005,97613,M'Tsangamouji,976,0,NaN,NaN,NaN,NaN,NaN,NaN,...,True,True,True,True,True,True,False,True,True,True
35006,97614,Ouangani,976,0,NaN,NaN,NaN,NaN,NaN,NaN,...,True,True,True,True,True,True,False,True,True,True
35007,97615,Pamandzi,976,1,NaN,NaN,NaN,NaN,NaN,NaN,...,True,True,True,True,True,True,False,True,False,True
35008,97616,Sada,976,1,NaN,NaN,NaN,NaN,NaN,NaN,...,True,True,True,True,True,True,False,True,False,True
35009,97617,Tsingoni,976,1,NaN,NaN,NaN,NaN,NaN,NaN,...,True,True,True,True,True,True,False,True,False,True

## ajout des EPCI (code + libellé)

In [8]:
# chargement des données sur les EPCI de l'INSEE
## https://www.insee.fr/fr/statistiques/fichier/2510634/Intercommunalite-Metropole_au_01-01-2020.zip
epci_xls = pd.ExcelFile(raw_data/ "Intercommunalité - Métropole au 01-01-2020.xlsx")

In [9]:
df_epci = pd.read_excel(epci_xls, 'Composition_communale', skiprows=5)

In [10]:
df_epci

,CODGEO,LIBGEO,EPCI,LIBEPCI,DEP,REG
0,01001,L'Abergement-Clémenciat,200069193,CC de la Dombes,01,84
1,01002,L'Abergement-de-Varey,240100883,CC de la Plaine de l'Ain,01,84
2,01004,Ambérieu-en-Bugey,240100883,CC de la Plaine de l'Ain,01,84
3,01005,Ambérieux-en-Dombes,200042497,CC Dombes Saône Vallée,01,84
4,01006,Ambléon,200040350,CC Bugey Sud,01,84
...,...,...,...,...,...,...
34963,97613,M'Tsangamouji,200059871,CC du Centre-Ouest,976,6
34964,97614,Ouangani,200059871,CC du Centre-Ouest,976,6
34965,97615,Pamandzi,200050532,CC de Petite-Terre,976,6
34966,97616,Sada,200059871,CC du Centre-Ouest,976,6
34967,97617,Tsingoni,200059871,CC du Centre-Ouest,976,6

In [11]:
# renommage + selection de colonnes
df_epci = df_epci[["CODGEO", "EPCI", "LIBEPCI"]].rename(columns={"CODGEO": "CODE_INSEE"})

In [12]:
df_epci

      CODE_INSEE       EPCI                   LIBEPCI
0          01001  200069193           CC de la Dombes
1          01002  240100883  CC de la Plaine de l'Ain
2          01004  240100883  CC de la Plaine de l'Ain
3          01005  200042497    CC Dombes Saône Vallée
4          01006  200040350              CC Bugey Sud
...          ...        ...                       ...
34963      97613  200059871        CC du Centre-Ouest
34964      97614  200059871        CC du Centre-Ouest
34965      97615  200050532        CC de Petite-Terre
34966      97616  200059871        CC du Centre-Ouest
34967      97617  200059871        CC du Centre-Ouest

[34968 rows x 3 columns]

In [13]:
# merge
df_demoday = pd.merge(df_epci, df_flag, on="CODE_INSEE")

In [14]:
df_demoday

,CODE_INSEE,EPCI,LIBEPCI,LIBCOM,DEP,ACCES_SERVICE_PUBLIC,TX_NSCOL15P,TX_MENSEUL,TX_FAMMONO,TX_65ETPLUS,...,TX_NSCOL15P_isNa,TX_MENSEUL_isNa,TX_FAMMONO_isNa,TX_65ETPLUS_isNa,TX_25ETMOINS_isNa,COUVERTURE_MOBILE_isNa,TAUX_COUVERTURE_THD_isNa,TX_DEMANDEUR_EMPLOIS_isNa,TX_POVERTY_isNa,TX_RSA_isNa
0,01001,200069193,CC de la Dombes,L'Abergement-Clémenciat,01,0,52.154281,22.823614,4.831504,23.779236,...,False,False,False,False,False,True,False,True,True,True
1,01002,240100883,CC de la Plaine de l'Ain,L'Abergement-de-Varey,01,0,40.425532,28.571429,4.761905,23.404255,...,False,False,False,False,False,False,False,True,True,True
2,01004,240100883,CC de la Plaine de l'Ain,Ambérieu-en-Bugey,01,0,49.474587,41.515231,10.216084,20.733915,...,False,False,False,False,False,False,False,False,False,False
3,01005,200042497,CC Dombes Saône Vallée,Ambérieux-en-Dombes,01,1,53.574678,21.076206,6.601983,19.488442,...,False,False,False,False,False,False,False,True,True,True
4,01006,200040350,CC Bugey Sud,Ambléon,01,0,53.061224,36.363636,9.090909,26.530612,...,False,False,False,False,False,False,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34960,97613,200059871,CC du Centre-Ouest,M'Tsangamouji,976,0,NaN,NaN,NaN,NaN,...,True,True,True,True,True,True,False,True,True,True
34961,97614,200059871,CC du Centre-Ouest,Ouangani,976,0,NaN,NaN,NaN,NaN,...,True,True,True,True,True,True,False,True,True,True
34962,97615,200050532,CC de Petite-Terre,Pamandzi,976,1,NaN,NaN,NaN,NaN,...,True,True,True,True,True,True,False,True,False,True
34963,97616,200059871,CC du Centre-Ouest,Sada,976,1,NaN,NaN,NaN,NaN,...,True,True,True,True,True,True,False,True,False,True
34964,97617,200059871,CC du Centre-Ouest,Tsingoni,976,1,NaN,NaN,NaN,NaN,...,True,True,True,True,True,True,False,True,False,True

In [15]:
df_demoday.to_csv("merge_data_epci_isNa.csv")