# merge des tableaux et des variables calculées

In [46]:
import os 
from glob import glob
import pandas as pd
import numpy as np

In [17]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\pc\anaconda3\lib\site-packages (1.2.0)

In [47]:
import xlrd

## Importation des données

In [48]:
# lister tous les fichiers présent dans le dossier
path = "C:/Users/PC/Desktop/Variables_mednum"
list_files= glob(os.path.join(path,"*.csv"))
list_files

['C:/Users/PC/Desktop/Variables_mednum\\data_mediatheques.csv',
 'C:/Users/PC/Desktop/Variables_mednum\\data_merge.csv',
 'C:/Users/PC/Desktop/Variables_mednum\\data_moins_25ans.csv',
 'C:/Users/PC/Desktop/Variables_mednum\\data_scol_menage_demandeurEmplois.csv',
 'C:/Users/PC/Desktop/Variables_mednum\\IFN_variable_ARSAS.csv',
 'C:/Users/PC/Desktop/Variables_mednum\\table_iris_insee_epci.csv',
 'C:/Users/PC/Desktop/Variables_mednum\\taux_pauvrete.csv']

In [49]:
demandeur_emploi = pd.read_csv('C:/Users/PC/Desktop/Variables_mednum\\data_scol_menage_demandeurEmplois.csv', sep=",")
demandeur_emploi.head()

,Unnamed: 0,CODE_INSEE,TX_NSCOL15P,TX_MENSEUL,TX_FAMMONO,TX_65ETPLUS,TX_25ETMOINS,TX_DEMANDEUR_EMPLOIS
0,0,01001,52.154281,22.823614,4.831504,23.779236,11.309305,NaN
1,1,01002,40.425532,28.571429,4.761905,23.404255,7.978723,NaN
2,2,01004,49.474587,41.515231,10.216084,20.733915,16.620013,NaN
3,3,01005,53.574678,21.076206,6.601983,19.488442,13.854125,NaN
4,4,01006,53.061224,36.363636,9.090909,26.530612,10.204082,NaN

In [50]:
len(demandeur_emploi)

36114

In [51]:
taux_pauvrete = pd.read_csv('C:/Users/PC/Desktop/Variables_mednum\\taux_pauvrete.csv', sep=",")
taux_pauvrete.head()

  code_INSEE  TX_POVERTY
0      2A001         NaN
1      2A004   27.441333
2      2A006   17.826087
3      2A008         NaN
4      2A011         NaN

In [52]:
len(taux_pauvrete)

35196

In [53]:
taux_pauvrete= taux_pauvrete.rename(columns={'code_INSEE': 'CODE_INSEE'})

In [13]:
# merge avec les données de distance aux accès numériques. Mise de côtés, pas utilisé pour le moment
# distance_mediation = pd.read_csv('C:/Users/PC/Desktop/Variables_mednum\\data_mediatheques.csv', sep=",")
# distance_mediation.head()

In [14]:
# merge avec les données de distance aux accès numériques. Mise de côtés, pas utilisé pour le moment
#distance_mediation= distance_mediation.rename(columns={'Code_commune_INSEE': 'CODE_INSEE'})
#len(distance_mediation)

## Merge des données

### comparaison des clés

In [54]:
# 
insee_emploi =demandeur_emploi.CODE_INSEE
insee_emploi = insee_emploi.tolist()

insee_pauvrete = taux_pauvrete.CODE_INSEE
insee_pauvrete = insee_pauvrete.tolist()

In [26]:
## éviter de faire tourner, trés long à l'ilmplémentation
k=1
ecart_1 = []
for i in range(len(taux_pauvrete)):
    for j in range(len(demandeur_emploi)):
        if demandeur_emploi.CODE_INSEE[j] != taux_pauvrete.CODE_INSEE[i]:
            ecart_1.append(demandeur_emploi.CODE_INSEE); 
            k=k+1

KeyboardInterrupt:

In [55]:
len(ecart_1.head)

AttributeError: 'list' object has no attribute 'head'

### merge du taux de pauvreté et demandeur d'emploi

In [56]:
data_fin = taux_pauvrete
data_fin  =data_fin.merge(demandeur_emploi, left_on='CODE_INSEE', right_on='CODE_INSEE', how = 'outer')
data_fin.drop_duplicates()

,CODE_INSEE,TX_POVERTY,Unnamed: 0,TX_NSCOL15P,TX_MENSEUL,TX_FAMMONO,TX_65ETPLUS,TX_25ETMOINS,TX_DEMANDEUR_EMPLOIS
0,2A001,NaN,10569.0,47.724584,22.350501,9.322385,21.662567,10.902031,NaN
1,2A004,27.441333,10570.0,47.006382,26.648289,14.049949,26.619498,11.425760,13.062663
2,2A006,17.826087,10571.0,45.656990,20.245461,9.324807,21.224153,10.888846,NaN
3,2A008,NaN,10572.0,41.227734,33.376123,9.627728,36.385084,6.076146,NaN
4,2A011,NaN,10573.0,47.727273,48.148148,3.703704,40.909091,11.363636,NaN
...,...,...,...,...,...,...,...,...,...
36388,97301,NaN,34950.0,68.131868,28.301887,15.094340,12.244898,25.431711,NaN
36389,97501,NaN,34996.0,74.949900,26.691729,7.518797,21.643287,11.022044,NaN
36390,97502,NaN,34997.0,56.968700,31.435887,8.538654,19.330339,10.967384,NaN
36391,97701,NaN,34998.0,47.562130,23.433584,5.889724,11.195266,11.869822,NaN
36392,97801,NaN,34999.0,61.207808,29.705424,25.399097,11.003942,16.691814,NaN

In [57]:
#suppression des colonnes inutiles
del data_fin['Unnamed: 0']

In [59]:
long= len(data_fin)
long

36393

#### On obtient un nouveau tableau contenant les données de taux de pauvreté et les données de demandeur d'emploi

In [12]:
# merge avec les données de distance aux accès numériques. Mise de côtés, pas utilisé pour le moment
# data_fin  =data_fin.merge(distance_mediation, left_on='CODE_INSEE', right_on='CODE_INSEE', how = 'outer')
# data_fin.drop_duplicates()

## exportation du nouveau tableau

In [66]:
## Temporaire !!! Ajout de la colonne de couverture, en attente d'avoir les données, valeur mise à 1 par défaut
type(data_fin)
One = np.ones((long,1))
data_fin.insert(8, 'COUVERTURE_HD_THD', One)

In [67]:
data_fin.head()

,CODE_INSEE,TX_POVERTY,TX_NSCOL15P,TX_MENSEUL,TX_FAMMONO,TX_65ETPLUS,TX_25ETMOINS,TX_DEMANDEUR_EMPLOIS,COUVERTURE_HD_THD
0,2A001,NaN,47.724584,22.350501,9.322385,21.662567,10.902031,NaN,1.0
1,2A004,27.441333,47.006382,26.648289,14.049949,26.619498,11.425760,13.062663,1.0
2,2A006,17.826087,45.656990,20.245461,9.324807,21.224153,10.888846,NaN,1.0
3,2A008,NaN,41.227734,33.376123,9.627728,36.385084,6.076146,NaN,1.0
4,2A011,NaN,47.727273,48.148148,3.703704,40.909091,11.363636,NaN,1.0

In [68]:
data_fin.to_csv('C:/Users/PC/Desktop/Variables_mednum/data_merge.csv')